* {
  padding: 0;
  margin: 0;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-family: "Noto Sans HK", sans-serif;
  font-optical-sizing: auto;


}

/* .lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

label {
  font-family: "Lobster", sans-serif;
}

@media (max-width: 390px) {
  .dingChen {

    display: flex;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    flex-direction: column;
    background-image: url(/assets/Images/bg2.png);
    background-color: rgba(0, 0, 0, 0);
    background-position: -200px center;
  }

  .narverBar {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  p {
    text-align: center;
  }

  .server {
    /* color: #ECB1AC; */
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 20px;
width: 100%;

  }

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .iphonef {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo {
    /* 請根據您的需求調整 right 屬性值 */
    padding-right: 55px;
    margin-right: 20px;
  }

  .server {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  h1 {
    /* color: #ECB1AC; */
  }

  .aboutUs label {
    /* color: #ECB1AC; */
  }

  .turn .software {
    display: flex;
    justify-content: start;
    align-items: center;
    width: auto;

  }

  .lineA {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;

  }
}

@media (max-width: 992px) {
  .ScaffoldTablet {
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1400px) {
  .ScaffoldDesktop {
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}